<div class="card" style="width: 18rem">
  <img src="https://via.placeholder.com/700x300" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">Classic Cars</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a
      type="button"
      (click)="openDetail(1)"
      style="text-decoration: none; color: #e5a00c; font-weight: bold"
      >* Go somewhere *</a
    >
  </div>
</div>
