<div class="card" style="width: 18rem">
  <img style="position: relative" [src]="car.image" class="card-img-top" />

  <h5
    class="badge rounded-pill"
    style="position: absolute; left: 10%; background-color: #e5a00c; top: 1vh"
  >
    $ {{ car.price }}
  </h5>
  <div class="card-body">
    <h1 class="card-title">
      {{ car.brand }} {{ car.model }} {{ car.year }}
      <span class="badge bg-secondary">New</span>
    </h1>
    <p class="card-text">{{ car.descripcion }}</p>
    <a
      type="button"
      (click)="openDetail(car.id)"
      style="text-decoration: none; color: #e5a00c; font-weight: bold"
      >* Go somewhere *</a
    >
  </div>
</div>
