<mat-spinner *ngIf="loading === true" style="margin: 20vh auto"></mat-spinner>
<div
  *ngIf="loading == false && detail != null"
  style="background-color: #918dff"
  class="d-flex justify-content-between align-items-center"
>
  <div
    style="font-weight: bold; font-size: 3vh; margin-left: 10px; color: white"
  >
    Vehicle Detail
  </div>
  <button
    mat-icon-button
    mat-dialog-close
    [mat-dialog-close]="true"
    type="button"
    style="color: white"
  >
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="row">
  <div class="col-12 col-md-6 mt-3">
    <img
      [src]="
        detail?.image != null
          ? detail!.image
          : 'https://via.placeholder.com/700x300'
      "
      class="card-img-top"
    />
  </div>
  <div class="col-12 col-md-6 d-flex flex-column mt-3">
    <div class="mt-3" style="font-size: 5vh; font-weight: bold; color: #918dff">
      Car
    </div>
    <div class="m-3" style="font-size: 2vh; font-weight: lighter; color: gray">
      {{ detail?.brand != null ? detail!.brand : "" }}
      {{ detail?.model != null ? detail!.model : "" }}
      {{ detail?.year != null ? detail!.year : "" }}
    </div>
    <div class="mt-3" style="font-size: 5vh; font-weight: bold; color: #918dff">
      Descripcion
    </div>
    <div class="m-3" style="font-size: 2vh; font-weight: lighter; color: gray">
      {{ detail?.descripcion != null ? detail!.descripcion : "" }}
    </div>
    <div class="mt-3" style="font-size: 5vh; font-weight: bold; color: #918dff">
      Price
    </div>
    <div class="m-3" style="font-size: 2vh; font-weight: lighter; color: gray">
      {{ (detail?.price != null ? detail!.price : "") | currency: "COP" }}
    </div>
  </div>
</div>
