<div style="display: flex; position: relative">
  <img
    src="https://via.placeholder.com/700x300"
    style="width: 100%; height: 400px"
  />
  <h1
    style="
      color: white;
      font-size: 40px;
      font-weight: bold;
      display: flex;
      position: absolute;
      top: 35%;
      left: 40%;
    "
  >
    Rent Your Dream Car
  </h1>
  <h2
    style="
      font-size: 20px;
      display: flex;
      position: absolute;
      bottom: 20%;
      left: 30vh;
      width: 60%;
      color: gray;
    "
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quidem!
    Doloremque sapiente temporibus odit eos magni omnis laudantium architecto,
    unde, tempora recusandae obcaecati quia qui est laboriosam, expedita ullam
    quae.
  </h2>
  <button
    class="btn"
    style="display: flex; position: absolute; top: 18vh; left: 20vh"
  >
    <i class="fa-solid fa-angle-left fa-2x"></i>
  </button>
  <button
    class="btn"
    style="display: flex; position: absolute; top: 18vh; right: 20vh"
  >
    <i class="fa-solid fa-angle-right fa-2x"></i>
  </button>
  <button
    class="btn"
    style="
      background-color: rgb(255, 187, 0);
      border-radius: 100%;
      color: white;
      display: flex;
      position: absolute;
      bottom: 5%;
      left: 50%;
    "
  >
    <i class="fa-solid fa-angle-down fa-2x"></i>
  </button>
</div>
